.table-buttons {
  display: flex;
  gap: 10px;
}

.toolbar {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.main-description {
  text-align: center;
  margin: 20px 0px;
}
